.card {
  width: 260px;
  height: 350px;
}

.top-suit {
  font-size: 50px;
}

.button-suit {
  font-size: 50px;
  transform: rotate(180deg);
}

.number {
  font-size: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.redColor {
  color: red;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
